body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: linear-gradient(135deg, #1a1a1a, #4b2d0c);
	color: #e5d0a6;
	text-align: center;
}

.container {
	background: rgba(0, 0, 0, 0.7);
	padding: 20px;
	border-radius: 15px;
	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.8);
	max-width: 500px;
	width: 100%;
}

.logo {
	width: 100px;
	height: 100px;
	background: #e5d0a6;
	border-radius: 50%;
	margin: 0 auto 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	font-weight: bold;
	color: #4b2d0c;
}

h1 {
	font-size: 24px;
	margin-bottom: 15px;
}

p {
	margin: 10px 0;
}

.timer {
	font-size: 20px;
	font-weight: bold;
}

.warning {
	font-size: 35px;
	font-weight: bold;
	color: #e63946;
}

#next-date,
#timer,
#last-timer {
	color: #e63946;
	/* Odcień czerwieni */
}

.toggle-button {
	margin: 15px 0;
	padding: 10px 15px;
	background: #4b2d0c;
	color: #e5d0a6;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
}

.toggle-button:hover {
	background: #e63946;
}

.hidden {
	display: none;
}

ul {
	list-style: none;
	padding: 0;
}

li {
	margin: 10px 0;
	font-size: 18px;
	/* Zwiększony rozmiar tekstu */
	font-weight: bold;
	/* Pogrubiony tekst */
	color: #e5d0a6;
}

.image-frame {
	margin-top: 20px;
	border: 2px solid #e5d0a6;
	padding: 10px;
	border-radius: 10px;
	background: #1a1a1a;
	display: none;
	/* Ukryj ramkę na obraz */
}

.image-frame img {
	max-width: 100%;
	border-radius: 10px;
}

.radio-buttons {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
	margin: 20px 0;
}

.radio-buttons label {
	display: block;
	padding: 10px;
	background: #4b2d0c;
	color: #e5d0a6;
	text-align: center;
	border-radius: 5px;
	cursor: pointer;
	user-select: none;
}

.radio-buttons input[type="radio"] {
	display: none;
}

.radio-buttons input[type="radio"]:checked+label {
	background: #e63946;
}

.header-image {
    vertical-align: middle;
    width: 1em;
    height: auto;
    margin-right: 5px;
}

footer {
	margin-top: 20px;
	font-size: 14px;
	color: rgba(229, 208, 166, 0.7);
}